body {
  margin: 0;
}
.header-container {
  width: 800px;
  margin: 31.5px auto;
}
.menu {
  text-align: center;
  padding: 0;
}
.menu-item {
  display: inline;
  margin-left: 72px;
}
.menu-link {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
}
.main-img {
  width: 100%;
}
.main-section {
  width: 1145px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 49px;
}
.caption {
  text-align: center;
  margin: 0 0 38px 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}
.main-text {
  text-align: center;
  margin-top: 28px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
}
.start-botton {
  text-align: center;
}
.start-botton-link {
  display: inline-block;
  margin-top: 66px;
  padding: 18px 43px 18px 43px;
  border-radius: 4px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-decoration: none;
  background-color: #ff0000;
  color: #ffffff;
}
.footer {
  text-align: right;
  margin-top: 82px;
  margin-bottom: 30px;
  margin-right: 105px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
